---
import NewsletterForm from "./NewsletterForm.astro";
import Container from "./container.astro";
---

<footer class="bg-black text-white pt-20 pb-10 px-4 lg:px-16">
  <Container>
    <div class="grid lg:grid-cols-2 grid-cols-1 border-b border-white pb-16 mb-8">
      
      <div class="linksSection lg:text-left text-center lg:mb-0 mb-16">
        <a class="logoElement" href="/">
          <img src="/images/footer-logo.png" alt="Allē Logo" class="w-1/2">
        </a>
        <div class="">
          <ul class="flex flex-row lg:justify-start justify-center gap-4">
            <li>
              <a href="/overview">Overview</a>
            </li>
            <li>
              <a href="/help">Help</a>
            </li>
            <li>
              <a href="/privacy">Privacy</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="contactSection flex lg:justify-end justify-center">
        <NewsletterForm/>
      </div>
    
    </div>

    <div class="flex justify-start items-start">
      <p class="text-sm ">
        ©{new Date().getFullYear()} Allē. All rights reserved.
      </p>
    </div>


  </Container>
</footer>

<style>
  footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
  }

  .logoElement{
    width: 158px;
    max-width: 100%;
    display: inline-block;
    img{
      display: block;
      width: 100%;
    }
  }
</style>

