---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="relative grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 bg-cover bg-center"
  style="background-image: url('/images/hero-background-gradient.png');"
>
  <div 
    class="absolute top-0 left-1/2 -translate-x-1/2 bg-cover bg-center h-400 w-full"
    
  >
  </div>
  <div class="py-6">
    <!-- <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    /> -->
    <img src="/images/combined-hero-assets-lockup.png" alt="Astronaut in the air" />
  </div>
  
</main>
