---
// @ts-ignore
import { Icon } from "astro-icon/components";
import Container from "@components/container.astro";

const stats = [
  {
    percentage: "32%",
    description:
      "faster growth for aligned organizations",
    linkName: "Global News Wire",
    linkUrl: "https://www.globalnews.com/wire/32-faster-growth-for-aligned-organizations/",
  },
  {
    percentage: "36%",
    description:
      "higher customer retention rates",
    linkName: "ZoomInfo, MarketingProfs",
    linkUrl: "https://www.zoominfo.com/blog/customer-retention-rates-and-growth-rates-are-closely-related",
  },
  {
    percentage: "20%",
    description:
      "annual growth rate for aligned companies",
    linkName: "Aberdeen Research",
    linkUrl: "https://www.aberdeen.com/en/research/articles/2022/03/22/aligned-companies-grow-faster-than-unaligned-ones",
  },
  
];
---

<section class="mb-40">
  <Container>
    <div class="headline mb-16 text-center">
      <h2 class="text-6xl lg:text-5xl font-bold lg:tracking-tight">
        Insights into Team Alignment
      </h2>
      <p class="text-lg mt-4 text-slate-600">
        We're building a tool that helps you understand how your team is aligned and how to improve it.
      </p>
    </div>

    <div class="grid lg:grid-cols-3 grid-cols-1 gap-16">
      {
        stats.map((item) => (
          <div class="card text-center">
            <div class="card-number text-5xl font-bold text-gold ">
              {item.percentage}
            </div>
            <div class="text-3xl font-bold balanced-text">
              {item.description}
            </div>
            <div class="mt-4 text-gray-400">
              <a href={item.linkUrl} class="text-sm text-gray-400 underline">{item.linkName}</a>
            </div>
          </div>
        ))
      }
      
    </div>
  </Container>
</section>